* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: dotted red 1px; */
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  background: #d7f0ea;
  color: #0a0a0b;
  position: relative;
  height: 100dvh;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
  height: 10%;
}

header h1 {
  font-weight: 100;
  letter-spacing: 0.16rem;
}

header p {
  margin-bottom: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  flex-start: flex-end;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  letter-spacing: 0.14rem;
  color: #0a0a0b;
  line-height: 1.4;
  position: relative;
  /* padding: 40px 20px; */
  /* margin: 20px; */
}

nav ul li a::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

nav ul li a:hover,
nav ul li a:active {
  color: #0a0a0b;
}

nav ul li a:hover::before {
  transform: scaleX(1);
}

/* circle class was not applying because it was after hidden class... */
.circle {
  background-color: #fafafa;
  display: flex;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  animation: fade-in 2s;
}

.bar {
  position: absolute;
  width: 100%;
  height: 5px;
  display: block;
  top: 49%;
  left: 0;
  background-color: #333;
  transform: scaleX(0.1);
  /* opacity: 0; */
}

.timer-countdown {
  position: absolute;
  top: 90%;
  left: 80%;
  animation: fade-in 3s;
}

.hidden {
  display: none;
}

/* Main */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80%;
  position: relative;
}

/* Sections */

section {
  max-width: 80%;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* transition: opacity 3s; */
}

.section-header {
  margin-bottom: 60px;
}

section h2,
section h3,
footer h4 {
  font-weight: 100;
  letter-spacing: 0.15rem;
  margin-bottom: 25px;
}

section h3 {
}

section p {
  margin-bottom: 15px;
  letter-spacing: 0.14rem;
  font-weight: 100;
}

section button {
  font-size: 1.2em;
  padding: 18px 32px;
  letter-spacing: 0.06rem;
  cursor: pointer;
  margin-top: 40px;
  background: #fafafa;
  color: #333;
  border-radius: 3px;
  border: none;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

section button:hover,
section button:active {
  background: #eaeaea;
}

.restart {
  position: absolute;
  right: 1%;
  top: 1%;
}

.restart-btn {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  /* padding: 12px 18px; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  /* background: rgba(0, 0, 0, 0.2); */
  background: #d7f0ea;
  /* font-size: 1.1em; */
  color: #333;
}

footer {
  /* position: sticky; */
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

footer a {
  text-decoration: none;
  color: #0a0a0b;
}

.lets-begin {
  transition: opacity 1s;
  opacity: 0;
  animation: fade-in-out 3s 1;
}

.end {
  transition: opacity 2s;
  opacity: 0;
  animation: fade-in-out 4s 1;
}

.intro {
  /* transition: opacity 3s; */
  opacity: 0;
  animation: fade-in 3s 2s forwards;
}

/* Type animation sequences */

@keyframes fade-in-out {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes calmInhale {
  0% {
    opacity: 0;
  }
  5%,
  35% {
    opacity: 1;
  }
  40%,
  100% {
    opacity: 0;
  }
}

@keyframes calmExhale {
  0%,
  40%,
  100% {
    opacity: 0;
  }
  45%,
  95% {
    opacity: 1;
  }
}

@keyframes clearInhale {
  0%,
  50% {
    opacity: 0;
  }
  5%,
  45% {
    opacity: 1;
  }
}
@keyframes clearExhale {
  0%,
  50% {
    opacity: 0;
  }
  55%,
  95% {
    opacity: 1;
  }
}

@keyframes relaxInhale {
  0%,
  21% {
    opacity: 0;
  }
  3%,
  18% {
    opacity: 1;
  }
}

@keyframes relaxHold {
  0%,
  21%,
  56%,
  100% {
    opacity: 0;
  }
  24%,
  53% {
    opacity: 1;
  }
}

@keyframes relaxExhale {
  0%,
  56%,
  100% {
    opacity: 0;
  }
  59%,
  97% {
    opacity: 1;
  }
}

@keyframes relieveInhale {
  0%,
  25%,
  100% {
    opacity: 0;
  }
  3%,
  22% {
    opacity: 1;
  }
}

@keyframes relieveHold {
  0%,
  25%,
  50%,
  75% {
    opacity: 0;
  }
  27%,
  47%,
  77%,
  98% {
    opacity: 1;
  }
}

@keyframes relieveExhale {
  0%,
  50%,
  75%,
  100% {
    opacity: 0;
  }
  52%,
  73% {
    opacity: 1;
  }
}

.inhale {
  opacity: 0;
  /* display: block; */
  transition: opacity 1s;
  /* animation: inhaleCalm 5s infinite; */
  position: absolute;
  /* animation: sequenceCalmInhale 10s infinite; */
  /* animation: sequenceClearInhale 8s infinite; */
  /* animation: sequenceRelaxInhale 19s infinite; */
  /* animation: sequenceRelieveInhale 16s infinite; */
}

.exhale {
  opacity: 0;
  position: absolute;
  /* animation: sequenceCalmExhale 10s infinite; */
  /* animation: sequenceClearExhale 8s infinite; */
  /* transition opacity 1s; */
  /* animation: inhaleCalm 7s; */
  /* animation: sequenceRelaxExhale 19s infinite; */
  /* animation: sequenceRelieveExhale 16s infinite; */
}

.hold1 {
  opacity: 0;
  position: absolute;
  /* top: 45%; */
  /* animation: sequenceRelaxHold 19s infinite; */
  /* animation: sequenceRelieveHold 16s infinite; */
}

.timer-countdown {
  color: #fafafa;
  height: 4rem;
  width: 4rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1); */
}

/* Bar animation sequences */

@keyframes calmBar {
  0%,
  100% {
    transform: scaleX(0);
  }
  40% {
    transform: scaleX(0.75);
  }
}

@keyframes clearBar {
  0%,
  100% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(0.75);
  }
}

@keyframes relaxBar {
  0%,
  100% {
    transform: scaleX(0);
  }
  21%,
  56% {
    transform: scaleX(0.75);
  }
}

@keyframes relieveBar {
  0%,
  75%,
  100% {
    transform: scaleX(0);
  }
  25%,
  50% {
    transform: scaleX(0.75);
  }
}
